.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.nav-item a {
    margin: 0 auto;
    text-decoration: none;
    min-width: 25px;
    font-weight: bold;
    font-size: 1.4rem;
    color: var(--blanco);
}

.nav-item {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--verde);
    font-family: var(--secondary-font);
}

.navbar-toggle {
    display: none
}